<% layout('layout/page') -%>
<% block('title', "") -%>


	<div class="col-sm-3 col-md-2 sidebar">
	<%-partial('partials/leftMenu')%>
	</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="width: fit-content;">
	<div id="main_workspace">
		<div class="collapse navbar-collapse">
			<div id="method_menu" class="nav navbar-nav"></div>
		</div>
		<div id="grid_container"> </div>
		
		<div id="detail_tabs"> 
		</div>
		<div id="detail_obj"> 

	<div id="methods_container" style="position: relative;display: block;margin-bottom: 2%;">
	</div>
	<div id="data_container"></div>
	</div>
		<!--div id="BRUTform"> 
			<div id="BRUTbutton" style="position: relative;display: block;margin-bottom: 2%;">
				<button class="btn btn-primary" id="brut_save">Сохранить</button>
				<button class="btn btn-primary" id="brut_validate">Проверить</button>
			</div>
       		<div id="BRUTcontainer" class="cont" ></div>
		</div-->
	
	</div>
 
</div>