<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<p>
Уважаемый  <%=user.fio%>!<br> 
Для Вас создан Личный кабинет находящийся по адресу: <a href="https://<%=server%>/login">Личный кабинет ЦФКП</a><br><br> 
Ваш пароль  <%=password%><br>
С уважением, администрация портала.
</p>
</body>
	

