<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<p>
Уважаемый  <%=user.fio%>! 
Для Вас создан Личный кабинет находящийся по адресу: _________.  
Перейдите по указанной ссылке для окончания процедуры регистрации. <br>
<a href="http://first.selen-it.ru:3000/login/registration?confirm=<%=user._id%>">Продолжить регистрацию</a><br>

С уважением, администрация портала.
</p>
</body>
	

