<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
    <p>

        На экспертизу поступила заявка: <br> ФИО -
        <%=data.fio%> <br> ИНН -
            <%=data.INN%> <br> Проект -
                <%=data.project_name%> <br>

                    <a href="https://<%=server%>/login">Перейти в Личный кабинет ЦФКП</a>
    </p>
</body>
