<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
<p>

На экспертизу поступила заявка: 
  Можно еще из заявки выдернуть ФИО, контактный телефон и ИНН.
	ФИО-<%=data.fio%>
	ИНН-<%=data.INN%>
        проект-<%=data.project_name%>

<a href="https://<%=server%>/login">Перейти в Личный кабинет ЦФКП</a>
</p>
</body>
	

