<% if (user) { %>

<div  class="nav nav-pills nav-stacked"  role="navigation">

<ul id ="left_menu" class="nav nav-pills nav-stacked">



        <!--li><a href="#form-group_entrprise_dohod_array">Выручка встроенная</a></li-->
</ul>
</div>

<% } %>

