<!--link rel="stylesheet" href="css/saveButton.css"/>
<script src="js/saveButton.js"></script-->
<% if (user) { %>
<div class="btn-group btn-group-lg" role="group" >
    <button type="button" id="saveButton" class="btn btn-default" onclick="saveClick();">Сохранить</button>
</div>
<% } %>
