<div class="page-header navbar navbar-fixed-top" role="navigation">
<div class="page-header-inner">

        <div class="page-logo">
            <a href=href="http://www.cfcp.ru">
            <img src="../images/logo.png" alt="logo" style="height: 70px; "   class="logo-default"/>
            </a>
            <div class="menu-toggler sidebar-toggler hide">
                <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
            </div>
        </div>
               <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                        <span></span>
                    </a>
     

    <!--div class="navbar-header">
        <button type="button" data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

     <a href="http://www.cfcp.ru">	<img src="../images/logo.png" style="height: 70px; "class="logo"/></a>
    </div-->

		<% if (1==1||user) { %>
    
    <div class="collapse navbar-collapse">
	<div id="top_menu" class="nav navbar-nav">
 
 	</div>
                <div class="top-menu">
                        <ul class="nav navbar-nav pull-right">

             <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <i class="icon-bell"></i>
                                    <span class="badge badge-default"> 7 </span>
                                </a>
                         <!--a  title='Помощь' onclick='starthelp();'>Помощь</a-->
 </li>
			   <li class="dropdown dropdown-quick-sidebar-toggler" title='Выйти'>
                                <a href="" onclick="$('<form method=POST action=/logout>').appendTo('body').submit();return false" class="dropdown-toggle">
                                    <i class="icon-logout"></i>
                                </a>
                            </li>
                                                                                           
<!--li>
		<a href="" onclick="$('<form method=POST action=/logout>').appendTo('body').submit();return false">Выйти</a></form></li>
</li-->
	</ul>
    </div>
    </div>
		<% } %>


</div>
</div>

