.main {
    /* padding: 20px;  */
}

@media (min-width: 768px) {
    .main {
        /*   padding-right: 40px;
    padding-left: 40px;
 */
    }
}

/*.main .page-header {
  margin-top: 0;
} */

/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}



.upload-btn {
    color: #ffffff;
    background-color: #F89406;
    border: none;
    padding: 0;
    font-size: 10px;

}

.progress {
    display: none;
}

.upload-btn:hover,
.upload-btn:focus,
.upload-btn:active,
.upload-btn.active {
    color: #ffffff;
    background-color: #FA8900;
    border: none;
}

.input-file {
    display: none;
}

input[type="file"] {
    display: none;
}

.btn {
    margin-left: 1%;
}

form.brutusin-form td {
    white-space: normal;

}


.loader {
    position: absolute;
    z-index: 9999;
    background-image: url('/images/loader.gif');
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color: #CCCCCC;
    display: none;
}


.sln_view_container,
.sln_method_menu,
.sln_detail_container,
.sln_view_content_container {
    margin-top: 1%
}
