.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #fff;
}

/* TEXT */

.panel-info .panel-heading .txt {
    font-family: 'PT Sans', 'Arial', Calibri, Tahoma, Helvetica, Arial, Verdana, sans-serif;
}

.nav-pills.nav-wizard > li,
.lang,
.panel-heading .hdr .txt,
.date,
.announces-hdr .txt,
.announces .media-object,
.navbar,
.lead,
.thumbnail big,
.contacts .panel-heading .hdr .txt,
.announces_hdr b,
.cal .month,
.widebutton,
.op_tabs .nav-tabs li a,
.reg_tabs .nav-tabs li a,
.op1_tabs .nav-tabs li a,
.pub_tabs .nav-tabs li a {
    font-family: 'Open Sans Condensed', Condens, 'Arial Narrow', Tahoma, Helvetica, Arial, sans-serif;
    font-weight: bold;
}

h1,
h2,
h3,
h4 {
    color: #555;
}

.lead {
    color: #666;
}

p.img-responsive img,
div.img-responsive img {
    display: block;
    width: 100% \9;
    max-width: 100%;
    height: auto;
}

.navbar-default {
    border-color: transparent;
    text-transform: uppercase;
    font-size: 16px;
}


.nav-pills > li > a {
    background-color: #fff;
    margin: 5px 0px 5px 9px;
}

.nav-pills.nav-stacked > li > a {
    margin: 2px 0px 2px 0px;
}

.small-margins .nav-pills.nav-stacked > li > a {
    margin: 1px 0px 1px 0px;
    padding: 2px 10px;
}

.nav-pills .badge {
    background-color: transparent;
    color: #333;
    font-size: 13px;
    line-height: 14px;
}

.bg-grey1 {
    background-color: #f4f4f4!important;
    border-top: 1px solid #fafafa;
}

a.badge:hover {
    background-color: #b81a1a;
}


.panel-default .panel-heading .hdr {
    background: transparent url('img/hdr-default.png') no-repeat left bottom;
    color: #074b80;
}

.panel-primary .panel-heading .hdr,
.announces-hdr {
    background: transparent url('img/hdr-primary.png') no-repeat left bottom;
}

.announces-hdr {
    background: transparent url('img/hdr-info.gif') repeat-x;
}

.panel-danger .panel-heading .hdr {
    background: transparent url('img/hdr-danger.png') no-repeat left bottom;
}





.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.nav-tabs > li > a:hover {
    /*   background: transparent url('img/hdr-primary.png') no-repeat;
    
color: white;
    border-radius: 0;

/*    border: none;*/
}



.nav-tabs,
.nav-tabs a {
    /*    color: #f4f4f4;
    border-radius: 0;
*/
}


.nav-tabs > li > a {
    /*     background: transparent url('img/blue_.png') no-repeat;
    color: black;
    box-shadow: 4px 4px 19px 2px rgba(7, 3, 154, 0.98);
*/
}

/*.nav-tabs > li > a:hover {
    border-color: rgba(255, 255, 255, 0.15);
    color: white;
}
*/

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: rgba(255, 255, 255, 0.15);
    border-color: rgba(255, 255, 255, 0.15);
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.15);
}


body {
    /*  padding: 50px; */
    font-size: 16px;
    /* font-family: 'Open Sans Condensed', Condens, 'Arial Narrow', Tahoma, Helvetica, Arial, sans-serif;
*/
}

.form-control {
    color: #080808;
}

 
.btn-primary {
    /*  border-radius: 0;*/
    background: #59ACE9;
    border-width: inherit;
       color: #fff;    
    font-size: 15px;
    font-weight: bold;
    /* margin: 0 auto;  */
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 4px 4px 19px 0px #092dde;
    /* Параметры тени */
    background: -webkit-gradient(linear, left top, left bottom, from(#89c7f5), to(#092dde));
    /* для Webkit браузеров */
    background: -moz-linear-gradient(top, #89c7f5, #092dde);
    /* для Firefox */
    background-image: -o-linear-gradient(top, #89c7f5, #092dde);
    /* для Opera 11 */
}

.btn-primary:hover,
.btn-primary:focus{
    zoom: 1.01;
    background: -webkit-gradient(linear, left top, left bottom, from(#89c7f5), to(#092dde));
    /* для Webkit браузеров */
    background: -moz-linear-gradient(top, #89c7f5, #092dde);
    /* для Firefox */
    background-image: -o-linear-gradient(top, #89c7f5, #092dde);
    /* для Opera 11 */
}




.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu.multi-level {
    top: 0;
    /*  background: #59ACE9;*/

    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
 
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
 
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
   /* background: #59ACE9;*/

}

a[disabled] {
  z-index: -1;
    background: grey;
}

.sln_method_menu.affix{
     z-index: 200;
    /* margin-bottom: 200px; */
    /* bottom: 0px; */
    right: 0;
    top: 20px;
    
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 150px;
}

.footer{
      position: absolute;
  bottom: 0;
  width: 100%;
height: 150px;
  
    /*  border-radius: 0;*/
    background: #59ACE9;
    color: #fff;    
    font-size: 15px;
    font-weight: bold;
    /* margin: 0 auto;  */
   /* margin-top: 10%;*/
    text-align: center;
    text-decoration: none;
    background: -webkit-gradient(linear, left top, left bottom, from(#e9f6ff00), to(#2c50ffb8));
    /* для Webkit браузеров */
    background: -moz-linear-gradient(top, #e9f6ff00, #2c50ffb8);
    /* для Firefox */
    background-image: -o-linear-gradient(top, #e9f6ff00, #2c50ffb8);
    /* для Opera 11 */
}


.footer h3,
.footer h4,
.footer h5 {
    color: black;
}

