.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus
{background-color:#fff;}

/* TEXT */.panel-info .panel-heading .txt{font-family: 'PT Sans', 'Arial', Calibri, Tahoma, Helvetica, Arial, Verdana, sans-serif;}

.nav-pills.nav-wizard > li,.lang,.panel-heading .hdr .txt, .date, .announces-hdr .txt, .announces .media-object, .navbar, .lead, .thumbnail big,.contacts .panel-heading .hdr .txt, .announces_hdr b,.cal .month, .widebutton, .op_tabs .nav-tabs li a, .reg_tabs .nav-tabs li a, .op1_tabs .nav-tabs li a, .pub_tabs .nav-tabs li a
{font-family: 'Open Sans Condensed', Condens, 'Arial Narrow', Tahoma, Helvetica, Arial, sans-serif;font-weight:bold;}
h1, h2, h3, h4{color:#555;}.lead{color:#666;}
p.img-responsive img, div.img-responsive img{
display: block;
width: 100% \9;
max-width: 100%;
height: auto;}

.navbar-default {
    border-color: transparent;
    text-transform: uppercase;
    font-size: 16px;
}


.nav-pills>li>a{background-color:#fff;margin:5px 0px 5px 9px;}.nav-pills.nav-stacked>li>a
{ margin:2px 0px 2px 0px;}
.small-margins .nav-pills.nav-stacked>li>a{ margin:1px 0px 1px 0px;padding:2px 10px;}
.nav-pills .badge{background-color:transparent; color:#333; font-size:13px;line-height:14px;}
.bg-grey1{background-color:#f4f4f4!important;border-top:1px solid #fafafa;}
a.badge:hover{background-color:#b81a1a;}


.panel-default .panel-heading .hdr{background: transparent url('img/hdr-default.png') no-repeat left bottom; color:#074b80;}
.panel-primary .panel-heading .hdr, .announces-hdr{background: transparent url('img/hdr-primary.png') no-repeat left bottom;}
.announces-hdr{background: transparent url('img/hdr-info.gif') repeat-x;}
.panel-danger .panel-heading .hdr{background: transparent url('img/hdr-danger.png') no-repeat left bottom;}





  .nav-tabs>li.active>a,#detail_tabs .nav-tabs>li.active>a:hover,#detail_tabs .nav-tabs>li.active>a:focus {
background: transparent url('img/hdr-primary.png') no-repeat ;


border-radius: 0;

border: none;
}

 .nav-tabs #detail_tabs .nav-tabs a {
color:#f4f4f4;
border:none ;
border-radius: 0;
}

 .nav-tabs .menu_left {background: transparent url('img/blue_.png') no-repeat ; 
color:#f4f4f4;
/*border:none ;
border-radius: 0; */
}

 .nav-tabs>li>a {
color:#f4f4f4;
}

 .nav-tabs>li>a:hover {
    border-color: rgba(255, 255, 255, 0.15);
}

 .nav .open>a,#detail_tabs  .nav .open>a:hover,#detail_tabs  .nav .open>a:focus {
    background-color: rgba(255, 255, 255, 0.15);
    border-color: rgba(255, 255, 255, 0.15);
}
  .nav>li>a:hover, #detail_tabs .nav>li>a:focus {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.15);
}


body {
  padding: 50px;
font-size: 16px;
 /* font-family: 'Open Sans Condensed', Condens, 'Arial Narrow', Tahoma, Helvetica, Arial, sans-serif;
*/
}
 
.form-control{
color:#080808;
}

