<table class="table table-striped pageview" 
	id="vw_user_property" 
	meta_view="vw_user_property" 
	meta_id="58c7c6b8c20d99116418a797">
<tbody>
<tr style="display: none;">
<td>id</td>
<td>58c7c6b8c20d99116418a797</td>
</tr>
<tr>
<td>E-mail</td>
<td>shemardin@gmail.com</td>
</tr>
<tr>
<td>Фио</td>
<td>undefined</td>
</tr>
<tr>
<td>Телефон</td>
<td>123123123</td>
</tr></tbody>
 </table>