<div class="message_container">
  <div class="screen">
    <div class="message__list">
      <img class="bot__image" src="images/logo.png">
      <div class="message__item message__item--bot">
        <span class="message message--bot">Добрый день , чем могу помочь?
         </span>

      </div>
    </div>
    <div class="message__list">
      <div class="message__item message__item--user">
        <span class="message message--user">Здравствуйте</span>
      </div>
      <div class="message__item message__item--user">
        <span class="message message--user">У меня есть проблема</span>
      </div>
      <div class="message__item message__item--user">
        <span class="message message--user">не могу оформить займ</span>
      </div>
    </div>
    <div class="message__list">
      <img class="bot__image" src="images/logo.png">
      <div class="message__item message__item--bot">
        <span class="message message--bot">Вам необходимо оформить заявку </span>
      </div>
      <div class="message__item message__item--bot">
        <span class="message message--bot">и приложить документы</span>
      </div>
      <div class="message__item message__item--user">
        <span class="message message--user">На какую сумму Я могу расчитывать</span>
      </div>
      <div class="message__item message__item--bot">
        <span class="message message--bot">Это зависит от цели и от срока</span>
      </div>

    </div>
  </div>
  <!--div class="answer">
    <div class="answer__button">What are you most curious about on the web?</div>
    <div class="answer__button">Enough, take me out of here</div>
  </div-->
</div>