<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

 <link rel="stylesheet" href="../jquery/ui/jquery-ui.css">

<link rel="stylesheet" href="../bootstrap/css/bootstrap.css"/>
<link rel="stylesheet" href="../bootstrap/css/bootstrap-theme.css"/>

<link rel="stylesheet" href="../css/bootstrap.min.css"/>




<script src="../ejs/ejs.js"></script>

<!--script src="https://code.jquery.com/jquery-1.12.4.js"></script-->
<script src="../jquery/jquery.js"></script>

<script src="../jquery/ui/jquery-ui.js"></script>
<script src="../jquery-maskmoney/jquery.maskMoney.min.js"></script>

<script src="../bootstrap/js/bootstrap.js"></script>
<script src="../jasny-bootstrap/js/jasny-bootstrap.js"></script>
<!--script src="../bootstrap/js/bootstrap-formhelpers-phone.js"></script-->

<script src="../enjoyhint/enjoyhint.min.js"></script>
<script src="../enjoyhint/kinetic.min.js"></script>


<!--script type="text/javascript" src="../lib/jsonform-master/deps/underscore.js"></script>
<script type="text/javascript" src="../lib/jsonform-master/deps/opt/jsv.js"></script>
<!--script type="text/javascript" src="../jsonmaster/jsonform.js"></script-->


<link rel="stylesheet" href="../jasny-bootstrap/css/jasny-bootstrap.min.css">
<link rel="stylesheet" href="../bootstrap-select/css/bootstrap-select.min.css">
<link rel="stylesheet" href='../jsonmasterBRUT/brutusin-json-forms.css'/>
<link rel="stylesheet" href="../enjoyhint/jquery.enjoyhint.css">

<script src="../jsonmasterBRUT/markdown.min.js"></script>
<script src="../bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="../bootstrap-select/js/i18n/defaults-en_US.min.js"></script>

<script src="../jsonmasterBRUT/data-validation.js"></script>

<script src="../jsonmasterBRUT/brutusin-json-forms.js"></script>
<script src="../jsonmasterBRUT/brutusin-json-forms-bootstrap.js"></script>




<script type="text/ecmascript" src="../jqgrid/js/i18n/grid.locale-ru.js"></script>
<script type="text/ecmascript" src="../jqgrid/js/jquery.jqGrid.min.js"></script>

<!-- BEGIN GLOBAL MANDATORY STYLES METRONIC-->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
<link href="../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
<link href="../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
 <!-- BEGIN THEME STYLES -->
<link href="../assets/global/css/components.css" rel="stylesheet" type="text/css"/>
<link href="../assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
<link href="../assets/layouts/layout/css/layout.css" rel="stylesheet" type="text/css"/>
<link href="../assets/layouts/layout/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color"/>
<link href="../assets/layouts/layout/css/custom.css" rel="stylesheet" type="text/css"/>
<!-- END THEME STYLES METRONIK-->


<!--script type="text/ecmascript" src="../jqgrid/src/jquery.jqGrid.js"></script-->
<link rel="stylesheet" type="text/css" media="screen" href="../jqgrid/css/ui.jqgrid-bootstrap.css" />

<!--link href="../css/dashboard.css" rel="stylesheet">
<link href="../css/style_DR.css" rel="stylesheet">
<link href="../css/messages.css" rel="stylesheet"-->

<script src="../js/common.js"></script>

<script src="../js/login.js"></script>
<script src="../js/methods.js"></script>
<script src="../js/views.js"></script>

<script src="../js/menu.js"></script>

<script src="../js/upload.js"></script>

<script src="../js/selen_objclass.js"></script>
<script src="../js/selen_viewclass.js"></script>
<script src="../js/selen_menuclass.js"></script>
<script src="../js/selen_methclass.js"></script>

<script src="../js/main.js"></script>


</head>

<body>
<img id="loading" class='loader'  />

<!--------------------Error modal--------------------------------------------------->
<div class="modal fade" id="messagedlg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="msgtitle" ></h4>
      </div>
      <div class="modal-body">
        <p id="msg"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
        <!--button type="button" class="btn btn-primary">Сохранить изменения</button-->
      </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
 <!--------------method execute--------------------------------------------->
<div class="modal fade" id="method_execute" tabindex="-1" role="dialog" data-backdrop="static"  aria-labelledby="method_title">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="method_title">Modal title</h4>
      </div>
      <div class="modal-body">
     <form id='data_container' class="method_form"> </form>
      </div>
      <div class="modal-footer">
	<div id= "executealert" class="alert alert-danger" ></div>
        <button type="button" class="btn btn-primary" id='execute' >Сохранить</button>
        <button type="button" class="btn btn-primary" id='cancel' data-dismiss="modal">Отмена</button>
      </div>
    </div>
  </div>
</div>
                           
<!--------------reference grid select view--------------------------------------------->
<div class="modal fade" id="refview" tabindex="-1" role="dialog" aria-labelledby="refview_title">
  <div class="modal-dialog" role="document" style="width: fit-content;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="refview_title">Выбрать значение</h4>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" >Выбрать</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Отмена</button>
      </div>
    </div>
  </div>
</div>


<div class="top_menu">
<%-partial('../partials/topNavigation')%>
</div>
<div class="page-container">

<div class="page-content-wrapper">
<div class="page-content">
<div id= "sub_menu">
<ul id ="left_menu" class="nav nav-tabs">
</ul> 
</div>

<div id="main_workspace">
<%-body -%>
</div>

</div>
</div>
         <!--[if lt IE 9]>
<script src="../assets/global/plugins/respond.min.js"></script>
<script src="../assets/global/plugins/excanvas.min.js"></script> 
<script src="../assets/global/plugins/ie8.fix.min.js"></script> 
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="../assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="../assets/global/scripts/app.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="../assets/apps/scripts/todo.min.js" type="text/javascript"></script>
        <script src="../assets/pages/scripts/components-date-time-pickers.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="../assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
        <script src="../assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
        <script src="../assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
        <script src="../assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
        <!-- END THEME LAYOUT SCRIPTS -->
 <script>
jQuery(document).ready(function() {    
 /*  App.init(); // init metronic core componets
   Layout.init(); // init layout
 /*  QuickSidebar.init() // init quick sidebar
   Index.init();   
   Index.initDashboardDaterange();
   Index.initJQVMAP(); // init index page's custom scripts
   Index.initCalendar(); // init index page's custom scripts
   Index.initCharts(); // init index page's custom scripts
   Index.initChat();
   Index.initMiniCharts();
   Index.initIntro();
   Tasks.initDashboardWidget();*/
});
</script>
</body>

</html>


